$mainColor: #ff0000;

.wow-enter {
  // 애니메이션 시작할 때
  opacity: 0;
}

.wow-enter-active {
  // 애니메이션 동작할 때
  opacity: 1;
  transition: all 1000ms;
}

.red {
  color: $mainColor;
}

@mixin 함수() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.my-alert {
  @include 함수();
}

.my-alert2 {
  @extend .my-alert;
  background: #ffe591;
}

.my-alert p {
  margin-bottom: 0;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
